:root {
    --clr-brand1: #6b71ff;
    --clr-brand2: #52b69a;

    --clr-primary: #f2f3f7;
    --clr-secondary: #ececec;
    --clr-tertiary: rgb(240, 240, 240);
    --clr-dark: rgb(44, 44, 44);
}
