*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}

img,
embed,
picture,
video,
canvas,
svg,
object {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

a.active {
    text-decoration: overline;
}

input,
button,
textarea,
select {
    max-width: 100%;
    font: inherit; /* more robust than font-family */
}

.debug * {
    outline: 1px solid gold;
}
